<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HacktoberFest 2019 | Contributors</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        {{>header}}
    </header>

    <section class="contributors">
        <div class="contributors__container">
            <ul class="contributors__list">
                <li class="contributors__person">
                    <img class="contributors__image" src="https://avatars3.githubusercontent.com/u/29803478" alt="Mike Salvati">
                    <a class="contributors__link" href="https://github.com/3daddict">Mike Salvati</a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        {{>footer}}
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>