<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STL Estimator</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        {{>header}}
    </header>
    <section class="rename">

    </section>
    <footer>
        {{>footer}}
    </footer>

    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>