<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Style Guide</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        {{>header}}
    </header>
    <section class="style-guide">
        <div class="container">
            <h1>h1. heading</h1>
            <h2>h2. heading</h2>
            <h3>h3. heading</h3>
            <h4>h4. heading</h4>
            <h5>h5. heading</h5>
            <h6>h6. heading</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia sed laudantium, expedita ea tempora?</p>
            <a href="#">This is an example of a link</a>
        </div>
    </section>
    <footer>
        {{>footer}}
    </footer>

    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>