//Globals
h1, h2, h3, h4, h5, h6 {

}

p {

}

// Index Page
.header {
  .nav {


    @media all and (max-width: 768px) {

    }
  }
}

.footer {

  @media all and (max-width: 768px) {

  }
}



// ****************************************
// Contributuers Page
.contributors-container {
  .box-item {
    position: relative;
    display: block;
    color: #444;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 15px 8px 15px 70px;
    margin: 10px;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

  @media (max-width: 768px) {

  }
}
