.contributors__container {
  display: flex;
  justify-content: center; }

.contributors__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  @media (min-width: 1200px) {
    .contributors__list {
      max-width: 1200px; } }

.contributors__person {
  padding: 1rem; }

.contributors__image {
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid #ee6e73; }
  @media (min-width: 768px) {
    .contributors__image {
      max-width: 200px; } }

.contributors__link {
  display: block;
  text-align: center; }
  .contributors__link:hover {
    text-decoration: underline; }
