//Globals
h1, h2, h3, h4, h5, h6 {

}

p {

}

// Index Page
.header {
  .nav {


    @media all and (max-width: 768px) {

    }
  }
}

.footer {

  @media all and (max-width: 768px) {

  }
}

// Variables (will probably be updated when style guide is complete)
$primary-color: #ee6e73;

// ****************************************
// Contributors Page

.contributors {
  &__container {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    // To prevent too many in a row across
    @media (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__person {
    padding: 1rem;
  }
  
  &__image {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid $primary-color;

    @media (min-width: 768px) {
      max-width: 200px;
    }
  }

  &__link {
    display: block;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}
